.promo__item-text {
  font-weight: 400;
  font-size: 23px;
  line-height: 261%;

  color: #ffffff;

  text-align: center;

  padding-left: 8px;
}


@media (max-width: 768px) {
  .promo__item-text {
    font-size: 20px;
    line-height: 160%;
  }
}

@media (max-width: 420px) {
  .promo__item-text {
    font-size: 18px;
  }
}