html {
  scroll-behavior: smooth;
}

.page {
  max-width: 1440px;
  width: 100%;

  margin: 0 auto;

  font-family: 'Roboto', Helvetica, sans-serif;
}

.background-gradient-bottom {
  background: linear-gradient(to bottom right, rgb(162, 96, 223), rgb(245, 222, 242));
}

.background-gradient-top {
  background: linear-gradient(to top right, rgb(162, 96, 223), rgb(245, 222, 242));
}